* {
  box-sizing: border-box;
}
body {
  background-color: #14181b;
  color: #ffffff;
}

.discover-title {
  margin-bottom: 30px;
}

.test {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  justify-content: space-between;

  .movie-image {
    // width: 200px;
    margin-bottom: 10px;
    img {
      width: 275px;
    }
  }
}

.discover-page {
  margin-top: 63px;
  // margin-left: 300px;
  width: 100%;
}

.body-box {
  height: 100vh;
  padding-left: 300px;
}
